/* CSS стили для card__calendar */

.card__calendar{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 10px 5px 5px gray;
    /*border: 2px solid red;*/
  }

  .card__start{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 10px 5px 5px gray;
    /*border: 2px solid red;*/
  }

  .card__end{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 10px 5px 5px gray;
    /*border: 2px solid red;*/
  }

  .card__delta{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 10px 5px 5px gray;
    /*border: 2px solid red;*/
  }



  