/* CSS стили для card */

.card{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0px 8px 32px 0px #0D162129;
  }

.card__figure {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

  /* CSS стили для card__image */

  .card__image{
    margin: 0;
    width: 100%;
    max-height: 160px; 
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    object-fit: cover;
  }

.card__figcaption {
    margin: 10px 0 12px 0;
    padding: 0;
    padding-left: 17px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    font-family: 'Open Sans';
    color: #070C27;
}

.card__price {
    margin: 0;
    padding: 0;
    padding-left: 17px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.card__price-number {

    margin: 10px 0;
    padding: 0;
    letter-spacing: .3px;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #6073D5; 
}

.card__book {
    display: flex;
    margin: 12px auto 15px auto;
    padding: 10px 62px 14px 62px;
    max-width: 256px;
    background-color: #6073D5;
    color: #FFF;
    border: none;
    border-radius: 12px;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.card__book:hover {
    cursor: pointer;
}

@media screen and (max-width: 899px) {
    .card__figcaption {
        padding-right: 5px;
    }
}

@media screen and (max-width: 700px) {
    .card__figcaption {
        padding-right: 5px;
    } 
    .card__book {
        margin: 12px auto 15px auto;
        padding: 10px 26px 14px 26px;
    }
}
