/* CSS стили для mobile-navigation */

/* Убираем стандартное поведение полей для ввода в хроме и мозилле */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield;
}

/*Так можно перекрасить*/
/*::-webkit-calendar-picker-indicator {
  filter: invert(1);
}*/

/*А так убрать*/
/*input[type=date]::-webkit-calendar-picker-indicator {
opacity: 0;
}
*/

    .mobile-navigation {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .mobile-navigation__nav-list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .mobile-navigation__nav-links-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .mobile-navigation__form {
      width: 328px;
    }

    .mobile-navigation__title {
      margin: 0;
      padding-top: 16px;
      padding-bottom: 25px;
      width: 328px;
      font-family: 'Open Sans';
      font-size: 28px;
      font-weight: 700;
      line-height: 36px;
      text-align: center;
      color: #070C27;
    }



    .mobile-navigation__subtitle {
      margin: 0;
      padding-left: 8px;
      padding-bottom: 14px;
      width: 224px;
      font-family: 'Open Sans';
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      text-align: left;
      color: #070C27;
      opacity: .6;
    }


    .mobile-navigation__figure {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;
      padding-bottom: 20px;
    }
  
    .mobile-navigation__image{
      margin: 0;
      max-width: 96px;
      min-height: 72px; 
      object-fit: cover;
    }


    .mobile-navigation__count-text {
      margin: 6px 0;
      font-family: 'Open Sans';
      letter-spacing: -0.1px;
      padding-right: 14px;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      color: #070C27;
    }

    .mobile-navigation__count {
      display: flex;
      margin-bottom: 10px;
    }

    .mobile-navigation__count-input {
      margin: 0 12px;
      width: 24px;
      border: 2px #EEF1FF solid;
      border-radius: 8px;
    }

    .mobile-navigation__data {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      width: 328px;
    }

    .mobile-navigation__data-input_type {
      margin: 0 0 12px 0;
      padding: 0;
    }

    .mobile-navigation__data-input_type_button {
      font-family: 'Open Sans';
      margin: 0 8px 0 0;
      padding: 12px 16px 16px 16px;
      color: #37489f;
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      background-color: #EEF1FF;
      border: none;
      border-radius: 12px;
    }

    .mobile-navigation__data-input_type_button:hover {
      cursor: pointer;
      color: #fff;
      background-color: #6073d5;
    }

    .mobile-navigation__input-text_summary {
      font-family: 'Open Sans';
      margin: 0 0 0 5px;
      padding: 0;
      color: rgb(7, 12, 39);
      font-size: 20px;
      line-height: 24px;
      font-weight: 900;
    }

    .mobile-navigation__text-oferta {
      font-family: 'Open Sans';
      letter-spacing: -0.1px;
      margin: 0;
      padding: 7px 0 7px 0;
      color: rgb(7, 12, 39, .6);
      font-size: 10px;
      line-height: 12px;
      font-weight: 400;
    }

    .mobile-navigation__text-oferta_link {
      color: #6073d5;
    }

  @media screen and (max-width: 991px) {
    .mobile-navigation__form {
      width: 456px;
    }

    .mobile-navigation__title {
      width: 456px;
    }

    .mobile-navigation__subtitle {
      width: 456px;
    }

    .mobile-navigation__data {
      width: 456px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .mobile-navigation__form {
      width: 504px;
    }

    .mobile-navigation__title {
      width: 504px;
    }

    .mobile-navigation__subtitle {
      width: 504px;
    }

    .mobile-navigation__data {
      width: 504px;
    }
  }
  
  @media screen and (max-width: 700px) {
    .mobile-navigation__form {
      width: 420px;
    }

    .mobile-navigation__title {
      width: 420px;
      margin-top: -39px;
      padding-bottom: 16px;
      font-size: 28px;
      font-weight: 700;
      line-height: 32px;
    }

    .mobile-navigation__subtitle {
      width: 420px;
    }

    .mobile-navigation__data {
      width: 420px;
    }
  }
  
  @media screen and (max-width: 520px) {
    .mobile-navigation__form {
      width: 256px;
    }

    .mobile-navigation__title {
      width: 256px;
      margin-top: -39px;
      padding-bottom: 16px;
      font-size: 28px;
      font-weight: 700;
      line-height: 32px;
    }

    .mobile-navigation__subtitle {
      width: 256px;
    }

    .mobile-navigation__data {
      width: 256px;
      flex-direction: column;
    }
  }
  